<body>
    <div class="container px-1 px-sm-4 py-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="card text-center pt-4 border-0">
                <h4 class="mb-0">{{city}}</h4>
                <h2 class="large-font"></h2>
                <div class="text-center mt-3 mb-4">
                    <img class="city-symbol" src="https://i.imgur.com/QA63I0q.png">
                </div>
                <div class="row d-flex px-3 mt-auto">
                    <div class="d-flex flex-column block first-block" *ngFor="let forecast of forecastData">
                        <small class="text-muted mb-0">{{forecast.dt_txt |date:"EE "}}</small>
                        <div class="text-center"><img class="symbol-img" src="https://i.imgur.com/BeWfUuG.png"></div>
                        <h6>{{forecast.main.temp}}°C</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>